body {
    margin: 0;
    background-color: #f0f0f0;
    padding: 0;
}

.content {
    padding-bottom: 8em;
    width: 50%;
    margin-left: 23%;
    padding: 2%;
    margin-bottom: 4%;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
    background-color: #fff;
}

#main-title {
    padding: 2% 4% 2% 4%;
    color: darkgrey;
    display: inline-block;
    width: 15%;
}

#left-button-panel {
    position: fixed;
    height: 87%;
    width: 23%;
    top: 12%;
    left: 0;
}

#right-button-panel {
    position: fixed;
    height: 87%;
    width: 23%;
    top: 12%;
    right: 0;
}

#table-of-contents {
    cursor: pointer;
}
.menu-title {
    display: inline-block;
    font-size: 1.4em;
    padding: 2% 1% 2% 1%;
    cursor: pointer;
}
.highlight {
    color: lightgrey;
}
.unhighlight {
    color: darkgrey;
}
#menu-block {
    width: 54%;
    display: inline-block;
}
@media (max-width: 900px) {
    .content {
        width: 100%;
        margin-left: 0%;
    }  
    #menu-block {
        width: 75%;
    }  
}